#main-content {
  max-width: 800px;
  width: 90%;
  margin: 20px;
}

details {
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 5px;
  margin: 5px 0px;
}

canvas {
  box-shadow: 3px 3px 10px;
  margin: auto;
  display: block;
  background: #eee;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  gap: 20px;
}

summary p:first-of-type {
  display: inline-block;
  margin: 0;
}

details[open] summary {
  margin-bottom: 10px;
}
